html {
  scroll-behavior: smooth;
}
body{
	box-sizing: content-box;
	font-family: Century Gothic, sans-serif;
	padding: 0px;
	margin: 0;
}
.btn{
	padding: 15px 30px;
	background: #4A57FE;	
	color: white;
	border-radius: 10px;
	transition: ease-in .2s;
	cursor: pointer;
	box-shadow: 0px 18px 10px #888888;
}
.btn:hover{
	background: #002E5B;
}
header ul li{
	list-style: none;
	text-decoration: none;
	display: inline-block;
	color: white;
}
a{
	text-decoration: none;
}
header{
	padding: 20px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 20px;
	position: relative;
	z-index: 1;
	color: white;
	margin: auto;
	background: #002E5B;
}
header .right, header .left{
	align-items: center;
	vertical-align: middle;
}
header .right{
	display: flex;
	justify-content: space-between;
}
header .right img{
	width: 80px;
}
header a{
	font-size: 19px;
	font-weight: bold;
	margin-left: 20px;
	transition:.3s ease;
	color: white;
}
header a:hover{
	color: #FFD61F;
	/*box-shadow: 2px 10px 18px #888888;*/
}
header .left input{
	border: none;
	padding: 10px;
	background: none;
	border-bottom: 2px solid white;
	color: white;
	text-align: right;
	font-size: 14px;
	margin-right: 10px;
	text-align: left;
}
header .search{
	display: flex;
	align-items: center;
	justify-content: space-around;
}
header .search img{
	height: 25px;
}
header .search a{
	margin: 0;
	padding: 0;
}
.title{
	margin: 20px;
	text-align: center;
	font-size: 28px;
	margin-top: 40px;
	color: #002e5b;
}
iframe{
	box-shadow: 2px 15px 18px #888888;
}
main .why{
	background: #F2F8FD;
	padding: 50px;
	line-height: 32px;
	padding-left: 200px;
	padding-right: 200px;
	padding-bottom: 200px;
	font-size: 20px;
	margin-bottom: -50px;
}
main .posts:nth-child(odd){
	display: flex;
	justify-content: flex-start;
}
main .posts{
	text-align: center;
	padding: 30px;
}
main .data{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
main .data .conten{
	color: #002E5B;
	text-align: left;
	background: #FFD61F;
	width: 30%;
	padding: 50px;
	margin: 10px;
	border-radius: 20px 0px 20px 0px;
	transition: .2s ease;
}
main .data .conten:hover{
	background: #e0bc1d;
}
main table{
	margin: auto;
}
main table td, main table th{
	padding-right: 20px;
}
footer{
	background: #002E5B;
	color: white;
	padding: 50px;
	position: relative;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 0;
	border-radius: 70px 0px 0px 0px;
	box-shadow: -10px -2px 18px #888888;
}
footer img{
	/*height: 20px;*/
	width: 30px;
}
footer li{
	display: inline-block;
	align-items: center;
	vertical-align: middle;
}
footer ul{
	padding: 0;
	margin: 0;	
	margin: auto;
	align-items: center;
}
footer a{
	color: white;
}
footer a:hover{
	color: #FFD61F;
}
.social{
	display: flex;
	text-align: center;
	justify-content: space-around;
	width: 500px;
	margin: auto;
	margin-bottom: 20px;
}
.med{
	display: flex;
	align-items: center;
}
.med a{
	margin-left: 10px;
	font-weight: bold;
}
.copy{
	font-size: 16px;
	background: #002E5B;
	color: white;
	width: 50%;
	margin: auto;
	font-weight: bold;
	border-top: 1px solid white;
	padding: 30px;
	margin-top: 3	0px;
	text-align: center;
}