body{
    font-family: Century Gothic, Helvetica, sans-serif;
    margin: 0;
    height: 100%;
    background-color: #0101;
}
.checkbox{
    width: 100px;
    height: 100px;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: white;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);

}
.left{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.left a, .right a{
    padding: 5px;
    text-decoration: none;
    color: #000000a6;
    margin: 0px 20px;
    transition: ease-out, .2s;
}

.left a:hover, .right a:hover{
    color: #00000061;
}
.right{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.container{
    width: 100%;
    padding: 30px;
    height: 100%;
    box-sizing: border-box;
}

.btn{
    padding: 10px 20px;
    background-color: aliceblue;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    display: inline-block;
    margin: 2px 5px;
    text-decoration: none;
    /*box-shadow: 2px 2px 8px rgba(0,0,0,.5);*/
}

.btn-primary{
    background-color: darkblue;
    color:white;
    transition: ease-out .3s;
}

.btn-primary:hover{
    background-color: darkslateblue;
    box-shadow:none;
}

.btn-danger{
    background-color: red;
    color:white;
    transition: ease-out .3s;
}

.btn-danger:hover{
    background-color: salmon;
    box-shadow:none;
}

.card{
    margin: auto;
    background-color: white;
    padding: 30px;
    border-radius: 0px 20px 0px 20px;

}
.card-body{
    margin: 10px;
    padding: 20px;
}

.card-30{
    max-width: 30%;
}

.card-50{
    max-width: 50%;
    width: auto;
}

.card-mid{
    position: relative;
    top: 100px;
}
.card-title{
    background-color: #7b7b7b21;
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
}

.form{
    padding: 20px;
    margin: auto;
}

.form-input{
    margin: 20px;
}
.form-input label{
    display: block;
    margin-bottom: 10px;
}

.form-input .input{
    padding: 10px;
    border-radius: 4px;
    border: 1px solid grey;
    width: 100%;
    margin: 0;
}
.table{
    border-collapse: collapse;
    margin: auto;
    box-sizing: border-box;
    width: 100%;
}
.table th, td{
    border: 1px solid black;
    padding: 10px;
}