html {
  scroll-behavior: smooth;
}
body{
	box-sizing: content-box;
	font-family: Century Gothic, sans-serif;
	padding: 0px;
	margin: 0;
}
.btn{
	padding: 15px 30px;
	background: #4A57FE;	
	color: white;
	border-radius: 10px;
	transition: ease-in .2s;
	cursor: pointer;
	box-shadow: 0px 2px 10px #888888;
}
.btn:hover{
	/*box-shadow: 0px 0px 10px #888888;*/
	background: #002E5B;
}
header ul li{
	list-style: none;
	text-decoration: none;
	display: inline-block;
	color: white;
}
a{
	text-decoration: none;
}
header{
	padding: 20px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 20px;
	position: relative;
	z-index: 1;
	color: white;
	width: 80%;
	margin: auto;
}
header .right, header .left{
	align-items: center;
	vertical-align: middle;
}
header .right{
	display: flex;
	justify-content: space-between;
}
header .right img{
	width: 80px;
}
header a{
	font-size: 19px;
	font-weight: bold;
	margin-left: 20px;
	transition:.3s ease;
	color: white;
}
header a:hover{
	color: #FFD61F;
	/*box-shadow: 2px 10px 18px #888888;*/
}
header .left input{
	border: none;
	padding: 10px;
	background: none;
	border-bottom: 2px solid white;
	color: white;
	text-align: right;
	font-size: 14px;
	margin-right: 10px;
	text-align: left;
}
header .search{
	display: flex;
	align-items: center;
	justify-content: space-around;
}
header .search img{
	height: 25px;
}
header .search a{
	margin: 0;
	padding: 0;
}
.banner{
	position: absolute;
	top: 0;
	z-index: 0;
	width: 100%;
	height: 900px;
	background-image: url('../banner/banner_3.png');
	background-size: cover;
	filter: brightness(.4);
	border-radius: 0 0 90px 0;
	/*filter: sepia(50%);*/
}
.banner-text{
	position: absolute;
	z-index: 2;
	color: white;
	font-weight: bold;
	font-size: 40px;
	top: 350px;
	left: 25%;
}
.banner-text>a{
	/*margin-top: 60px;*/
	color: white;
	font-size: 21px;
	padding-top: 25px;
	padding-bottom: 25px;
}
main{
	margin-top: 590px;
	margin-bottom: 50px;
}
.title{
	margin: 20px;
	text-align: center;
	font-size: 28px;
	margin-top: 40px;
	margin-bottom: 40px;
	color: #002e5b;
}
main .why{
	padding: 60px;
	background: #F2F8FD;
	line-height: 32px;
	margin-top: 600px;
	padding-top: 250px;
	padding-left: 200px;
	padding-right: 200px;
	font-size: 20px;
}
main .posts:nth-child(odd){
	display: flex;
	justify-content: flex-start;
}
main .posts:nth-child(even){
	display: flex;
	justify-content: flex-end;
}
main .posts:nth-child(odd) .conten{
	border-radius: 0px 0px 30px 5px;
}
main .posts:nth-child(even) .conten{
	border-radius: 0px 0px 5px 30px;
}
main .posts .conten{
	width: 30%;
	margin: 20px;
	transition: .2s ease;
	padding-bottom: 0px;
}
main .posts .conten:hover{
	box-shadow: 2px 2px 18px #888888;
	background: #FFD61F;
	/*border-radius: 20px;*/
}
main .posts .conten .img{
	width: 100%;
	height: 400px;
	background-size: cover !important;
	background-position: center !important;
}
main .posts .conten h3{
	font-size: 25px;
	color: #002e5b;
}
main .posts .conten .text{
	padding: 30px;
	padding-top: 10px;
	text-align: justify;
}
.action{
	text-align: right;
	margin-top: 30px;
}
footer{
	background: #002E5B;
	color: white;
	padding: 50px;
	position: relative;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 0;
	border-radius: 70px 0px 0px 0px;
	box-shadow: -10px -2px 18px #888888;
}
footer img{
	/*height: 20px;*/
	width: 30px;
}
footer li{
	display: inline-block;
	align-items: center;
	vertical-align: middle;
}
footer ul{
	padding: 0;
	margin: 0;	
	margin: auto;
	align-items: center;
}
footer a{
	color: white;
}
.social{
	display: flex;
	text-align: center;
	justify-content: space-around;
	width: 500px;
	margin: auto;
	margin-bottom: 20px;
}
.med{
	display: flex;
	align-items: center;
}
.med a{
	margin-left: 10px;
	font-weight: bold;
}
.copy{
	font-size: 16px;
	background: #002E5B;
	color: white;
	width: 50%;
	margin: auto;
	font-weight: bold;
	border-top: 1px solid white;
	padding: 30px;
	margin-top: 3	0px;
	text-align: center;
}